$modern-font-size: 12px;		//modern base font size

$enable-font-awesome: dynamic(true);

/*
 * This file defines variables used throughout the application for modern and
 * classic builds.
 */
$font-weight: 800;
$font-weight-bold: 500;
$font-family: Roboto, Arial;
$font-size: dynamic($modern-font-size);
$font-size-big: dynamic($modern-font-size);

$font-size: $modern-font-size!important;
$font-size-big: $modern-font-size!important;


$label-font-weight: 400;
$field-label-font-size: dynamic($modern-font-size);


//This makes panel gray
/*$panel-body-background-color: #f6f6f6;*/
$panel-body-background-color: #EDEDED;

//Window Header Size make smaller than default
$panel-header-padding : 5px; 

//Narrowing the vertical sapce of toolbars
$toolbar-vertical-spacing: 2px;

//Accordion Header Size make smaller than default
$accordion-header-padding: 5px;

//Fieldset Header Size make smaller than default
$fieldset-header-padding: 1px;

$button-small-font-size: dynamic(11px);
$button-small-padding: 4px;

//Height for form field like combo, textfield, etc
//$form-field-height: 26px;

//Tab Title padding
$tab-padding: 2px 12px;

// don't use due to multipe header.
//.x-column-header{
// height:24px !important;
//}
//enable grid cell height
.x-grid-cell-inner {
    padding : 3px 10px 3px 10px  !important;   
}


// Grid Column Color
//$grid-header-background-color: #e6ffff; // modified by Brian (2020/07/21 change the color)
$grid-header-background-color: #F5F5F5;

.x-splitter-vertical {
    background-color: #e0e0e0 !important;
} 

.x-field > .x-label-el {
    padding: 12px 10px 6px 0 !important;
    font-size: $modern-font-size !important;
    line-height: 16px;
    width: 120px;
    font-weight: 600 !important; //add 2020 11 06
    color: #474747 !important; //add 2020 11 06
}

.x-field.x-disabled > .x-label-el { //add 2020 11 06
    color: #474747 !important;   
}
.x-textfield.x-disabled .x-input-wrap-el {//add 2020 11 06
    color: #474747 !important;
}

.x-textfield .x-input-el {
    padding-left: 8px !important;
    padding-right: 2px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    font-size: $modern-font-size  !important;
    font-weight: bold;
    line-height: 16px;
}


.x-big .x-trigger {
    width: 20px !important;
}

.x-big .x-trigger .x-icon-el {
    width: 20px !important;
    height: 20px !important;
}

.x-expandtrigger .x-icon-el:before {
    font-size: 30px !important;
}

.x-button-el > .x-close-icon-el:before {
    font-size: 20px !important;
}

.x-tab .x-close-icon-el:before {
    content: 'clear';
    font-size: 18px !important;
}

.x-big .x-trigger .x-icon-el:before {
    font-size: 20px !important;
}


$field-label-color: #686767; //Label color darker...
//$field-disabled-label-color: #494949 !important;	 //Disabled labelfield Color
//$textfield-disabled-input-color:  #00ff00 !important;//Disabled inputfield Color
//$textfield-placeholder-color:  #adadad !important; //placeholder field Color 

$dataview-item-font-size: dynamic($modern-font-size);		//List view font size:
$gridrow-selected-background-color: #ffffb9;	//Grid select data
$gridcell-font-size : $modern-font-size;						//Grid data font
$gridcolumn-font-size : $modern-font-size;					
$gridcolumn-font-weight: 700;
$gridcolumn-background-color : #f0f0f0;
$gridcolumn-sorted-background-color : #dbdada;
$gridcolumn-padding : 6px;
$gridcolumn-box-shadow: 2px 2px #60617a;


$textfield-input-border-width: 0px;
$textfield-input-border-color: #e0e0e0; 
$textfield-input-border-style: solid;
$alert-color: #F44336;



