/**
*	TOOLBAR
*/

@include button-ui (
	$ui: 'delete-button-modern',
    $background-color: #FF5722,
    $border-color: #FF5722	
);

@include button-ui (
	$ui: 'create-button-modern',
	$background-color: $base-color,
	$border-color: $base-color
);

@include button-ui (
	$ui: 'update-button-modern',
	$background-color: $base-color,
	$border-color: $base-color
);

@include button-ui (
	$ui: 'retrieve-button-modern',
	$background-color: #8BC34A,
	$border-color: #8BC34A
);

@include button-ui (
	$ui: 'clear-button-modern',
	$background-color: #FFC107,
	$border-color: #FFC107
);

@include button-ui (
	$ui: 'menu-button-modern',
	$color: #FFFFFF,
	$background-color: transparent,
	$border-color: transparent
);

@include tab-ui (
	$ui: 'md-tab',
	$padding: 10px 4px,
	$padding-big: 10px 4px,
	$font-size: $modern-font-size,
	$font-size-big: $modern-font-size
);

.x-big .x-tab.x-has-text.x-icon-align-top .x-icon-el {
    margin-bottom: 0px;
};

/** below is from classic, need to check & modify for modern */

/** 
 * Set Splitter Background Color.
 */	
.x-splitter-vertical {
    background-color: #FFF;
}
.x-splitter-horizontal {
    background-color: #FFF;
}

 @include textfield-ui (
	$ui: 'fieldnumberhht',
	$input-background-color : #86d88b
);

 @include textfield-ui (
	$ui: 'numbercolormodern',
	$input-background-color : #86d88b
);

 @include textfield-ui (
	$ui: 'field-inputcolor',
	$input-background-color : #E1F5FE
);

@include textfield-ui ( 
    $ui: 'field-yellow', 
    $input-background-color : #f5e10a
);


@include panel-ui (
	$ui: 'popup-panel',
	$header-padding: 8px,
	$header-padding-big: 8px,
	$header-title-padding: 0px,
	$header-title-padding-big: 0px,
	$header-min-height: 45px,
	$header-min-height-big : 45px
);




