
/*
.login_body {background: url(/resources/images/login/lock-screen-background.jpg) 0 0;background-repeat: no-repeat;background-size: cover;background-attachment: fixed;}
.login_body .x-window-body-default,.login_body .x-panel-body-default, .login_body .x-formpanel-body-el{background:transparent;}
.login_body {background: url(../../resources/images/background/background_jpb.jpg) 0 0;background-repeat: no-repeat;background-size: 100% 100%;background-attachment: fixed!important;}
.login_body .x-window-body-default, .login_body .x-formpanel-body-el{background:transparent;}
*/

.login_container {
	background:rgba(255,255,255,.2)
}


.login_container .x-form-text-field-body-default {
    height: 36px;
}


.login_container .x-btn .x-btn-icon-el:before {
    right: 10px;
    font-size: $modern-font-size;
    position: absolute;
}

.login_container .login_title {
	margin: 50px 120px;
    color: #FFF;
    font-size: $modern-font-size;
    font-weight: bold;
    letter-spacing: -2px;
}
.login_container .login_title h2{
	margin: 20px 0;
}
.login_container .login_title h2 span{font-weight: normal;}

/*
.login_container .x-btn-inner-default-small{font: 700 16px/20px;color: #fff;font-family:'HDharmonyL','NanumBarunGothic','Malgun Gothic', '嶺뚮씭理먨뜝占� 占썩뫁伊볣�억옙', sans-serif;}
*/
.login_container .x-btn-inner-default-small{font: 700 16px/20px;color: #fff;font-family:Roboto, Arial;}

.center {

    text-align:center;
}

.x-field {
	margin-top: 0px !important;
    padding-bottom: 5px !important;
}

.x-field > .x-label-el {
    padding: 12px 10px 6px 0 !important;
    font-size: $modern-font-size !important;
    line-height: 16px;
    width: 120px;
}

.x-textfield .x-input-el {
    padding-left: 8px !important;
    padding-right: 2px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    font-size: $modern-font-size  !important;
    font-weight: bold;
    line-height: 16px;
}

.x-big .x-button {
    font-size: $modern-font-size;
    line-height: 24px;
    border-radius: 2px;
}

/*
.logo_company {
    top: 20px!important;
    left: 20px!important;
    width: 160px!important;
    height: 42px!important;
}
*/
