.x-field.x-disabled > .x-label-el {
    color: rgba(17, 17, 17, 0.54);
}

$field-label-color: #686767;					//Label color darker...
$dataview-item-font-size: dynamic(13px);		//List view font size:
$gridrow-selected-background-color: #ffffb9;	//Grid select data
$gridcell-font-size : 13px;						//Grid data font
$gridcolumn-font-size : 13px;					
$gridcolumn-font-weight: 700;
$gridcolumn-background-color : #f0f0f0;
$gridcolumn-sorted-background-color : #dbdada;
$gridcolumn-padding : 6px;
$gridcolumn-box-shadow: 2px 2px #60617a;
