<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>MOST 3.0 Web Application</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>rest</display-name>
    <servlet-name>rest</servlet-name>
    <servlet-class>com.tsb.most.serviceprovider.servlet.MOSTStartupServlet</servlet-class>
    <init-param>
      <param-name>most_cacheservice_config_filename</param-name>
      <param-value>localcacheinfo.xml</param-value>
    </init-param>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>
				org.springframework.web.context.support.AnnotationConfigWebApplicationContext
			</param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
				com.tsb.most.rest.config.RestAppConfig
				com.tsb.most.rest.config.RestLogConfig
				
			</param-value>
    </init-param>
    <init-param>
      <param-name>dispatchOptionsRequest</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>rest</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>direct</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>
				org.springframework.web.context.support.AnnotationConfigWebApplicationContext
	  </param-value>
    </init-param>
    <init-param>
      <param-name>dispatchOptionsRequest</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>direct</servlet-name>
    <url-pattern>/direct/*</url-pattern>
    <url-pattern>/socket/*</url-pattern>
  </servlet-mapping>
  <description>Encoding Filter</description>
  <filter>
    <filter-name>Encoding Filter</filter-name>
    <filter-class>com.tsb.most.framework.servlet.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Encoding Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>enable_appserverconfig_external</param-name>
    <param-value>N</param-value>
  </context-param>
  <context-param>
    <param-name>appserverconfig_filename</param-name>
    <param-value>server-applicationContext.properties</param-value>
  </context-param>
  <context-param>
    <param-name>appserverconfig_filepath</param-name>
    <param-value>WC_MOST_CONF_FILE_PATH</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			/WEB-INF/config/context-security.xml 
			/WEB-INF/config/context-aspectj.xml
			/WEB-INF/config/context-biz-aop.xml
			
      	    /WEB-INF/config/server-applicationContext.xml
			/WEB-INF/config/bizcomponents/bizcomponentContext-config-mybatis.xml 
      	    classpath:/bizcomponents/bizcomponentContext-common-mybatis.xml  
      	    classpath:/bizcomponents/bizcomponentContext-service-mybatis.xml  
      </param-value>
  </context-param>
  <listener>
    <listener-class>com.tsb.most.framework.listener.StartupListener</listener-class>
  </listener>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>com.tsb.most.security.config.CORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>